html, body {
    margin: 0px;
}

@media (max-width:1300px) {
    html {

    width: fit-content;
    }
}


*{
    font-size: 16px;
    font-weight:300px;
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
}